.App {
  padding: 10px;
  height: calc(100vh - 20px);
  background-color:darkslategrey;
}

.MuiCircularProgress-colorPrimary{
  color: aquamarine !important;
}

.ag-theme-alpine{
  -webkit-flex: 1;
  height: 44vh;
}

.Dropdown-control.Dropdown-disabled {
  background-color: rgb(158, 158, 158) !important;
  font-size: small;
}

.Dropdown-control {
  font-size: small;
  background-color: bisque !important;
}

.Dropdown-option.is-selected {
  background-color: #80d4ff !important;
}


.Dropdown-placeholder{
  font-weight: 500;
}

.Dropdown-menu{
  max-height: 60vh !important;
  background-color: #f0eadc !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
